$red: #f00;
$green: #090;
$blue: #00f;
$radius: 30px;

p {
  line-height: 1.75em;
}

a,
a:visited,
a:hover,
a:active {
  color: $blue;
}

div {
  max-width: 420px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 40px;
  font-size: 12px;
  background-color: #eee;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: $radius;

  h1 {
    color: $green;
  }

  p {
    span {
      color: $red;
    }
  }

  img {
    margin-bottom: 10px;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px #ccc;
  }

  cite {
    margin-left: 10px;
    color: #888;
  }
}

a {
    display: flex;
}